/node_modules
/public/hot
/public/storage
/public/dist/
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
composer-lock.json
package-lock.json
/public/build/css/backend.css
/public/build/js/vendor-backend.js
/public/build/js/vendor-frontend.js
/public/build/manifest-frontend.json
/resources/js/vendor/vue-i18n-locales.generated.js
